# Copyright (c) 2014 Midokura SARL, All Rights Reserved.

$schema: "http://json-schema.org/draft-04/hyper-schema"
id: "schemata/neutron_security_group"
title: "Neutron Security Group"
description: ""
type: ["object"]
media:
  mediaType: "application/vnd.org.midonet.neutron.SecurityGroup-v1+json"
definitions:
  identity:
    $ref: "/schemata/neutron_security_group#/properties/id"
properties:
  id:
    description: """
      A unique identifier of the resource. If this field is omitted in the POST
      request, a random UUID is generated.
      """
    example: "1405d6c6-a199-44d6-b9af-756dc6f5e3f7"
    $ref: "/schemata/commons#/definitions/id"
  name:
    description: "Name of the resource."
    example: "neutron_network"
    $ref: "/schemata/commons#/definitions/name"
  tenant_id:
    description: "ID of the tenant that owns the resource."
    example: "efd28582-bb5d-487c-9286-9a19af4ab0a4"
    readOnly: true
    $ref: "/schemata/commons#/definitions/id"
  description:
    description: "Description of the resource."
    example: "neutron_network"
    type: ["string"]
  security_group_rules:
    description: "List of rules belonging to this security group."
    example: [{
      "direction": "ingress",
      "tenant_id": "foo",
      "ethertype": "ipv4"
    }]
    type: ["array"]
    items:
      type: ["object"]
require: ["tenant_id"]
links: [{
  title: "List"
  description: "Get the list of the neutron security groups."
  href: "/neutron/security_groups"
  method: "GET"
  rel: "instances"
}, {
  title: "Info"
  description: "Get the specific neutron security groups."
  href: "/neutron/security_groups/{id}"
  method: "GET"
  rel: "self"
}, {
  title: "Create"
  description: "Create a new neutron security group."
  href: "/neutron/security_groups/"
  method: "POST"
  rel: "create"
}, {
  title: "Update"
  description: "Update the sepcific neutron security group."
  href: "/neutron/security_groups/{id}"
  method: "PUT"
  rel: "update"
}, {
  title: "Delete"
  description: "Delete the specific neutron security group."
  href: "/neutron/security_groups/{id}"
  method: "DELETE"
  rel: "delete"
}]
