# Copyright (c) 2014 Midokura SARL, All Rights Reserved.

$schema: "http://json-schema.org/draft-04/hyper-schema"
id: "schemata/port_link"
title: "Port Link"
description: """
  Port Link is an entity that represents an entry of the virtual link between
  virtual network devices in MidoNet.
  """
type: ["object"]
media:
  mediaType: "application/vnd.org.midonet.PortLink-v1+json"
definitions:
  identity:
    $ref: "/schemata/port_link#/properties/uri"
properties:
  uri:
    description: """
      A GET against this URI refreshes the representation of this resource.
      """
    example: "http://example.org:8080/midonet-api/ports/afefefbc-66d1-46a0-8d49-a56c3554e9f8/link"
    $ref: "/schemata/commons#/definitions/uri"
  portId:
    description: "A unique identifier of the port."
    example: "afefefbc-66d1-46a0-8d49-a56c3554e9f8"
    $ref: "/schemata/commons#/definitions/id"
  port:
    description: "A GET against this URI retrieves the port."
    example: "http://example.org:8080/midonet-api/ports/afefefbc-66d1-46a0-8d49-a56c3554e9f8"
    $ref: "/schemata/commons#/definitions/uri"
  peerId:
    description: "A unique identifier of the peer port."
    example: "0f5a458d-0ce3-45c5-b01f-884ff110bddd"
    $ref: "/schemata/commons#/definitions/id"
  peer:
    description: "A GET against this URI retrieves the peer port."
    example: "http://example.org:8080/midonet-api/ports/0f5a458d-0ce3-45c5-b01f-884ff110bddd"
    $ref: "/schemata/commons#/definitions/uri"
required: ["peerId"]
links: [{
  title: "Create"
  description: "Create a new port link."
  href: "/ports/{id}/link"
  method: "POST"
  rel: "create"
}, {
  title: "Delete"
  description: "Delete the specific port link."
  href: "/ports/{id}/link"
  method: "DELETE"
  rel: "delete"
}]
